{:main reagentdemo.prod
 :optimizations :advanced
 :output-to "target/bundle-adv/resources/public/js/out/index.js"
 :output-dir "target/bundle-adv/resources/public/js/out"
 ; :pseudo-names true
 :elide-asserts true
 :target :bundle
 :closure-defines {cljs.core/*global* "window"}}
