
.todoitem-enter {
    opacity: 0.1;
    transition: opacity .2s ease-in;
}

.todoitem-enter.todoitem-enter-active {
    opacity: 1;
}

.todoitem-leave {
    opacity: 0.8;
    transition: opacity 0.2s ease-out;
}

.todoitem-leave.todoitem-leave-active {
    opacity: 0.1;
}
