{:paths ["src" "test" "examples/todomvc/src" "examples/simple/src" "examples/geometry/src" "demo"]
 :deps {org.clojure/clojurescript {:mvn/version "1.11.60"}
        doo/doo {:mvn/version "0.1.11"}}}
