{:paths ["src" "test" "examples/todomvc/src" "examples/simple/src" "examples/geometry/src" "demo"]
 :deps {org.clojure/clojurescript {:git/url "https://github.com/clojure/clojurescript.git"
                                   :sha "f95a13b3e3b193749e10e15d95ef98506ce3be29"}
        ; org.clojure/clojurescript {:local/root "/home/juho/Source/clojurescript"}
        doo {:mvn/version "0.1.11"}}}
