
* { 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    background-color: #eeeeec;
    text-rendering: optimizeLegibility;
    width: auto;
}

div.nav {
    width: 750px;
    margin: 0 auto;
}

ul.nav {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 18px;
    padding-bottom: 18px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 15px 60px;
}

ul.nav > li {
}

ul.nav > li > a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #777;
}

ul.nav > li.brand > a {
    color: #444;
    font-size: 1.2rem;
    font-weight: 600;
}

@media (max-width: 768px) {
    div.nav {
        width: 100%;
        /* position: static; */
        background-color: #fff;
    }
    ul.nav {
        width: 100%;
        padding: 18px 27px;
        flex-wrap: wrap;
    }
    ul.nav > li {
        margin-right: 30px;
    }
}

.reagent-demo {
    width: 750px;
    background-color: #fff;
    margin: 0 auto;
    padding: 29px 60px 45px 60px;
}

.reagent-demo > h1 {
    font-size: 48px;
    color: rgba(0, 0, 0, 0.75);
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue', arial;
    font-weight: normal;
    line-height: 1.25em;
    margin-top: 0.25em;
    margin-bottom: 1em;
}

.reagent-demo > h1 > a {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 768px) {
    body {
        width: auto;
        margin: 0 0;
    }
    .reagent-demo {
        margin: 0 0;
        padding: 36px 27px;
        width: 100%;
    }
    .github-badge {
        display: none;
    }
    .demo-source {
        overflow-x: scroll;
    }
    .test-output-mini {
        display: none;
    }
}

.test-output-mini {
}

.reagent-demo h2 {
    font-size: 24px;
    line-height: 26px;
    margin-top: 38px;
    margin-bottom: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.reagent-demo h2 + p {
    margin-top: 0;
}

.demo-text > p, .demo-text > ul {
    font-family: georgia, serif;
    font-size: 18px;
    line-height: 1.611em;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 1em;
    martin-top: 1em;
}

.demo-text > p > code, .demo-text > ul > li > code {
    font-size: 16px;
    background-color: #f5f5f4;
    padding: 0 3px;
}

.demo-text > ul > li {
    margin-bottom: 0.5em;
}

.demo-example {
    background-color: #f6f6f5;
}

.demo-source {
    background-color: #fbfbfa;
    color: rgba(0, 0, 0, 0.75);
}

.demo-source pre {
    font-family: Consolas, Menlo, Courier, monospace;
    font-size: 14px;
    line-height: 20px;
}

.demo-example div, .demo-example p {
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.2em;
}

.demo-example, .demo-source {
    margin: 29px -60px;
    padding: 29px 60px;
}

.demo-example + .demo-source {
    margin-top: -29px;
}

.simple-demo, .simple-demo input {
    font-size: 18px;
}

.demo-heading {
    margin-top: 0;
    color: #aaa;
    font-size: 14px;
    line-height: 29px;
    margin-top: 3px;
}

.demo-example-hide {
    margin-top: 3px;
    float: right;
    cursor: pointer;
    color: #bbb;
}

.news-read-more {
    text-decoration: none;
    font-size: 16px;
}

/* Color demo */

.color-plate {
    float: left;
    height: 100px;
    width: 100px;
}

.color-slider > input {
    width: 100%;
}

.color-samples {
    clear: both;
    padding-top: 0.5em;
}

/* Binary clock */

.clock-main {
    background: #333;
    color: #cdcdcd;
    padding-top: 55px;
    padding-left: 20px;
    float: left;
    font-size: 28px;
    line-height: 34px;
    width: 620px;
    cursor: pointer;
}
.clock-main.wide {
    width: 790px;
}
.clock-cell {
    width: 55px;
    height: 55px;
    text-align: center;
    margin: 0 20px 20px 0;
}
.clock-cell.dark {
    background-color: #454545;
}
.clock-cell.light {
    background-color: #eee;
}
.clock-col {
    margin: 0;
    float: left;
}
.clock-legend > .clock-cell {
    margin-top: 10px;
}
.clock-pair {
    margin: 0;
    float: left;
}
.clock-pair:not(:last-child) {
    margin-right: 20px;
    /* border-right: 1px solid #454545; */
}
