{:builds
 {:app {:asset-path "/js"
        :modules {:main {:entries [example.core]}}
        :output-dir "target/public/js"
        :target :browser}}
 :dependencies [[reagent "0.10.0"]]
 :dev-http {3000 ["resources/public" "target/public"]}
 :nrepl {:port 3333}
 :source-paths ["src"]}
