{:lint-as {reagent.core/with-let clojure.core/let
           reagent.core/defc clojure.core/defn
           reagenttest.utils/deftest clojure.test/deftest
           reagenttest.utils/with-render clojure.core/let}
 :linters {:unused-binding {:level :off}
           :missing-else-branch {:level :off}
           :unused-referred-var {:exclude {cljs.test [deftest testing is]}}
           ;; Example namespaces use clashing names now
           :redefined-var {:level :off}}}
