
* { 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cloact-demo {
    background-color: #fff;
    margin: 40px -100px;
    padding: 40px 60px;
}

.cloact-demo > h1 {
    font-size: 36px;
    line-height: 1.1em;
}

@media (max-width: 768px) {
    body {
        width: auto;
        margin: 0 0;
    }
    .cloact-demo {
        margin: 0 0;
        padding: 27px 27px;
        width: 100%;
    }
    .github-badge {
        display: none;
    }
}

.test-output-mini {
    text-align: right;
    margin-right: -180px;
}

.cloact-demo h2 {
    margin-top: 48px;
    color: #555;
}

.demo-text > p {
    font-family: georgia, serif;
    font-size: 18px;
    line-height: 27px;
    color: #444;
}

.demo-example {
    background-color: #ebebeb;
}

.demo-source {
    background-color: #f8f8f5;
    color: #555;
}

.demo-example, .demo-source {
    margin: 0px -22px;
    padding: 22px 22px;
}

.simple-demo, .simple-demo input {
    font-size: 17px;
}

.demo-heading {
    margin-top: 0;
    color: #999;
    font-size: 14px;
}

.demo-example-hide {
    float: right;
    cursor: pointer;
}