
* { 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

div.nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

ul.nav {
    margin: 0 auto;
    width: 750px;
    height: 40px;
    padding-left: 60px;
    padding-top: 10px;
    list-style-type: none;
}

ul.nav > li {
    float: left;
    margin-right: 60px;
}

ul.nav > li > a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
    color: #777;
}

ul.nav > li.brand > a {
    color: #444;
}

@media (max-width: 768px) {
    div.nav {
        position: static;
        background-color: #fff;
    }
    ul.nav {
        width: 100%;
        padding: 18px 27px;
    }
    ul.nav > li {
        float: left;
        margin-right: 30px;
    }
}

.reagent-demo {
    background-color: #fff;
    margin: 60px -100px;
    padding: 36px 60px;
}

.reagent-demo > h1 {
    font-size: 48px;
    color: #555;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue', arial;
    font-weight: normal;
    line-height: 1.25em;
    margin-top: 0.25em;
    margin-bottom: 1em;
}

.reagent-demo > h1 > a {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 768px) {
    body {
        width: auto;
        margin: 0 0;
    }
    .reagent-demo {
        margin: 0 0;
        padding: 36px 27px;
        width: 100%;
    }
    .github-badge {
        display: none;
    }
    .demo-source {
        overflow-x: scroll;
    }
    .test-output-mini {
        display: none;
    }
}

.test-output-mini {
    text-align: right;
    margin-right: -180px;
}

.reagent-demo h2 {
    font-size: 20px;
    line-height: 1.25em;
    margin-top: 48px;
    color: #555;
}

.demo-text > p, .demo-text > ul {
    font-family: georgia, serif;
    font-size: 18px;
    line-height: 1.5em;
    color: #444;
}

.demo-text > ul > li {
    margin-bottom: 1em;
}

.demo-example {
    background-color: #ebebeb;
}

.demo-source {
    background-color: #f8f8f5;
    color: #555;
}

.demo-example, .demo-source {
    margin: 0px -22px;
    padding: 22px 22px;
}

.simple-demo, .simple-demo input {
    font-size: 18px;
}

.demo-heading {
    margin-top: 0;
    color: #999;
    font-size: 14px;
}

.demo-example-hide {
    float: right;
    cursor: pointer;
}

.news-read-more {
    text-decoration: none;
    font-size: 16px;
}

/* Color demo */

.color-plate {
    float: left;
    height: 100px;
    width: 100px;
}

.color-slider > input {
    width: 100%;
}

.color-samples {
    clear: both;
    padding-top: 0.5em;
}