
.cloact-demo {
    background-color: #fff;
    margin: 40px -80px;
    padding: 40px 60px;
}

.cloact-demo h2 {
    margin-top: 48px;
}

.demo-example {
    background-color: #ebebeb;
}

.demo-source {
    background-color: #f8f8f5;
    color: #555;
}

.demo-example, .demo-source {
    margin: 0px -20px;
    padding: 20px 20px;
}

.demo-heading {
    margin-top: 0;
    color: #999;
    font-size: 14px;
}