{:builds
 {:app {:asset-path "/js"
        :modules {:main {:entries [example.core]}}
        :output-dir "target/public/js"
        :target :browser}}
 :deps true
 :dev-http {3000 ["resources/public" "target/public"]}
 :nrepl {:port 3333}}
