div, h1, input {
    font-family: HelveticaNeue, Helvetica;
}

.example-clock {
    font-size: 128px;
    line-height: 128px;
    font-family: HelveticaNeue-UltraLight, Helvetica;
}

.color-input, .color-input input {
    font-size: 24px;
    line-height: 24px;
    color: #444;
}
